.rodape {
  position: fixed;
  width: 100%;
  top: auto;
  bottom: 0;
  color: rgb(75, 74, 74);
  text-align: center;
  background-color: rgb(239, 237, 237);
}

.btn--criar {
  background-color: rgb(0, 103, 184);
  border-radius: 5px;
}

.tabela {
  padding: 10px;
  background-color: rgb(225, 223, 223);
  border-radius: 5px;
}
